html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.width-100 {
  width: 100%;
}

.margin-0 {
  margin: 0px;
}

.page-title {
  font-size: 4em;
}

.square {
  border-width: thin;
  border-style: solid;
}

.alert-plain {
  background-color: #F9F9F9;
  border-color: #444444;
  color: #464646;
}

.sorting, .sorting_asc, .sorting_desc, .clickable-square:hover {
  cursor: pointer;
}

.no-padding {
  padding: 0px;
}

.track-map {
  height: calc(100vh - 50px);
  width: 100vw;
}

.ad-div {
  height: 50px; 
  overflow: hidden;
  background-image: url("../img/trackemall.png");
  background-size: 28px 28px;
  background-repeat: repeat;
}

.btn {
  padding: 8px;
}

.loading {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-background {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.map-button {
  height: 40px;
}

.current-location-button {
  width: 40px;
}

.disappeared-button, .sighting-button{
  width: 40%;
}

.sighting-button{
  bottom: 26px;
}

.loading-logo {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.btn {
  background-color: rgba(238, 238, 238, 0.75) !important;
}

.text-primary {
    color: #337ab7;
}

.help-image {
  width: 100%;
}

.track-em-all-color {
  color: #F6504A;
}

.border-success {
  border-color: #4caf50;
  border-width: thin;
  border-style: solid;
}

.border-danger {
  border-color: #f44336;
  border-width: thin;
  border-style: solid;
}

.border-warning {
  border-color: #ff5722;
  border-width: thin;
  border-style: solid;
}

.border-primary {
  border-color: #337ab7;
  border-width: thin;
  border-style: solid;
}

.border {
  border-color: rgba(0,0,0,.87);
  border-width: thin;
  border-style: solid;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }