<div class="container main" ng-init="init()">
	<div ng-show="message" class="alert alert-danger">
		{{message}}
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="map" class="track-map"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-raised btn-success width-100" ng-click="addTrackingPoint()"><i class="fa fa-map-marker" aria-hidden="true"></i> Mon Sighting</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-raised btn-danger width-100" ng-click="clearTracking()"><i class="fa fa-times-circle" aria-hidden="true"></i> Clear</button>
		</div>
	</div>
</div>